* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-Container {
    display: grid;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    width: 700px;
    height:700px;
    border:1px solid grey;
    background-color: grey;
    grid-gap:1px;
    
}

#grid-Container > div {
    background-color: white;
    /* aspect-ratio: 1; */
}

.row {
    display: flex;
    flex:1;
    /* height:100%; */
    /* padding:5px; */
    /* flex-basis: 100%; */
}

.square {
    display:flex;
    /* height: 0px;
    width: 0px; */
    /* background-color: black; */
    border: 1px solid grey;
    flex:1;
    /* flex-basis: 100%; */
}